.INTEGER{text-align:right;}
.REAL{text-align:right;}
.TEXT{text-align:left;}
.left{
	float:left;
	width:30%;
	padding-left:1em;
	padding-right:1em;
	padding-top:1em;
	padding-bottom:1em;

}
.right{
	float:right;
	width:30%;
	padding-left:1em;
	padding-right:1em;
	padding-top:1em;
	padding-bottom:1em;

}
.main{
	width:auto;
	position:absolute;
	padding-left:1em;
	padding-right:1em;
	padding-top:1em;
	padding-bottom:2em;
}
.item{
	clear:both;
	padding-left:3em;
	padding-right:3em;
	padding-top:2em;
	padding-bottom:1em;
}
.clearboth{clear:both;}
body{background-color:#e2eeff;color:#000066;}
.every{background-color:#ccffff;}
.other{background-color:#aadddd;}
thead,tfoot{background-color:#bbeeee;}
